@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "https://fonts.google.com/comfortaa";

a {
    color: var(--accent);
}

body {
    background-color: black;
    color: white;

}

* {
    font-family: 'comfortaa', sans-serif;
}


:root {
    --accent: lightgreen;
    --accent-bg: darkgrey;
    --shadow: gold;
}