@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
    color: var(--accent);
}

body {
    background-color: black;
    color: white;

}

* {
    font-family: 'cascadia', sans-serif;
}

@font-face {
    font-family: "cascadia";
    src: url("../public/assets/fonts/cascadia.otf")
}

:root {
    --accent: lightgreen;
    --accent-bg: darkgrey;
}